global
    log         127.0.0.1 local2
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

# ---------------------------------------------------------------------
# KUBERNETES API (Puerto 6443)
# ---------------------------------------------------------------------
frontend okd_api_frontend
    bind 10.26.0.5:6443
    mode tcp
    option tcplog
    default_backend okd_api_backend

backend okd_api_backend
    mode tcp
    balance roundrobin
    server bootstrap 10.26.0.10:6443 check
    server master1 10.26.0.11:6443 check
    server master2 10.26.0.12:6443 check
    server master3 10.26.0.13:6443 check

# ---------------------------------------------------------------------
# MACHINE CONFIG SERVER (Puerto 22623)
# ---------------------------------------------------------------------
frontend okd_machine_config_frontend
    bind 10.26.0.5:22623
    mode tcp
    option tcplog
    default_backend okd_machine_config_backend

backend okd_machine_config_backend
    mode tcp
    balance roundrobin
    server bootstrap 10.26.0.10:22623 check
    server master1 10.26.0.11:22623 check
    server master2 10.26.0.12:22623 check
    server master3 10.26.0.13:22623 check

# ---------------------------------------------------------------------
# INGRESS HTTP (Puerto 80)
# ---------------------------------------------------------------------
frontend okd_http_ingress_frontend
    bind 10.26.0.5:80
    mode tcp
    option tcplog
    default_backend okd_http_ingress_backend

backend okd_http_ingress_backend
    mode tcp
    balance roundrobin
    server worker1 10.26.0.21:80 check
    server worker2 10.26.0.22:80 check

# ---------------------------------------------------------------------
# INGRESS HTTPS (Puerto 443)
# ---------------------------------------------------------------------
frontend okd_https_ingress_frontend
    bind 10.26.0.5:443
    mode tcp
    option tcplog
    default_backend okd_https_ingress_backend

backend okd_https_ingress_backend
    mode tcp
    balance roundrobin
    server worker1 10.26.0.21:443 check
    server worker2 10.26.0.22:443 check
